<h2>Entrena con nosotros en Gorilla Gym</h2>
        <p class="cabecera">En Gorilla Gym, nos enorgullece ofrecer un ambiente de entrenamiento excepcional y servicios de alta calidad que te ayudarán a alcanzar tus metas de fitness. Nuestro gimnasio se destaca por:</p>

        <div class="features-container">
            <div class="feature">
                <img src="assets/img/equipos.jpg" alt="Característica 1">
                <ul>
                    <li>Equipos de última generación</li>
                </ul>
            </div>
            <div class="feature">
                <img src="assets/img/entrenador.jpg" alt="Característica 2">
                <ul>
                    <li>Entrenadores altamente cualificados</li>
                </ul>
            </div>
            <div class="feature">
                <img src="assets/img/entrenamiento.jpg" alt="Característica 3">
                <ul>
                    <li>Variedad de clases y programas de entrenamiento personalizados</li>
                </ul>
            </div>
            <div class="feature">
                <img src="assets/img/comunidad.jpg" alt="Característica 4">
                <ul>
                    <br>
                    <li>Comunidad de apoyo y motivación</li>
                </ul>
            </div>
            <div class="feature">
                <img src="assets/img/horario.jpg" alt="Característica 5">
                <ul>
                    <li>Horarios flexibles para adaptarse a tu vida</li>
                </ul>
            </div>
        </div>
        <p class="join-us">Únete a Gorilla Gym y experimenta una forma más saludable y activa de vivir.</p>
  