<main>
    <!-- Clase Yoga -->
    <mat-card>
        <div class="contenidoClase">
            <img class="plan-image" src="assets/img/yoga.png" alt="Yoga">
            <mat-card-content>
            <mat-card-header>
              <mat-card-title>Yoga</mat-card-title>
              <mat-card-subtitle>Instructor: Yordan Valdiviezo</mat-card-subtitle>
            </mat-card-header>
          <p>Relájate con nuestras clases de yoga</p>
            </mat-card-content>
        </div>
      <mat-card-actions>
        <button class="cta-button" (click)="ConfirmarInscripcion(1)">Inscribirme</button>
      </mat-card-actions>
    </mat-card>

    <!-- Cardio -->
    <mat-card>
    <div class="contenidoClase">
      <img class="plan-image" src="assets/img/AeroLocal.png" alt="Cardio">
      <mat-card-content>
      <mat-card-header>
        <mat-card-title>Cardio</mat-card-title>
        <mat-card-subtitle>Instructor: Angelo Meza</mat-card-subtitle>
      </mat-card-header>
        <p>Cardio activo para todos</p>
    </mat-card-content>
    </div>
    <mat-card-actions>
        <button class="cta-button" (click)="ConfirmarInscripcion(2)">Inscribirme</button> 
      </mat-card-actions>
    </mat-card>

    <!-- Zumba -->
    <mat-card>
    <div class="contenidoClase">
      <img class="plan-image" src="assets/img/Ritmo.png" alt="Zumba">
      <mat-card-content>
      <mat-card-header>
        <mat-card-title>Zumba</mat-card-title>
        <mat-card-subtitle>Instructor: Justin Erazo</mat-card-subtitle>
      </mat-card-header>
    <p>Clase para mover el cuerpo y sacar los pasos prohibidos</p>
      </mat-card-content>
    </div>
      <mat-card-actions>
        <button class="cta-button" (click)="ConfirmarInscripcion(3)">Inscribirme</button> 
      </mat-card-actions>
    </mat-card>

  </main>
