<!--Melanie coloma-->
<body>
    <div class="container">
        <div id="logbox">
          <form id="signup" (ngSubmit)="registrarUsuario()">
            <h1>Crear Cuenta</h1>
            <input class="input pass" [(ngModel)]="usuario.NombreUsuario" name="user[name]" type="text" placeholder="Ingrese su usuario" pattern="^[\w]{3,16}$" maxlength="12" autofocus required/>
            <input class="input pass" [(ngModel)]="usuario.Nombres" name="user[nombres]" type="text" placeholder="Ingrese sus nombres" pattern="^[\w]{3,16}$" maxlength="25"  required/>
            <input class="input pass" [(ngModel)]="usuario.Apellidos" name="user[apellidos]" type="text" placeholder="Ingrese sus apellidos" pattern="^[\w]{3,16}$" maxlength="25" required/>
            <input class="input pass" [(ngModel)]="usuario.Contrasena" name="user[password]" type="password" placeholder="Ingrese una contraseña" maxlength="25" required/>
            <input class="input pass" [(ngModel)]="usuario.FechaNacimiento" name="user[fechaNacimiento]" type="date" placeholder="Ingrese la fecha de nacimiento" required/>
            <input class="inputButton" type="submit" value="Registrarse"/>
          </form>
        </div>
      </div>
      
    </body>